<html>
    <head>
        <title>Details {{title}}</title>
    </head>
    <body>
        <div>
            {{#properties}}
            <div>
                <label>{{name}}:</label>
                <label>{{value}}</label>
            </div>
            {{/properties}}
        </div>
    </body>
</html>