<html>
    <head>
        <title>Details {{title}}</title>
        <script>
        {{#hasReferences}}
        function loadValues(model,values,label,controlId){
            if(values === '') return;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", `/api/${model}/${values}`, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var control = document.getElementById(controlId);
                    var response = JSON.parse(this.responseText);
                    if (response.constructor === Array) {
                        control.innerHTML = response.map(row => { return `<a href="/backoffice/${model}/details/${row.id}/">${row[label]}</a>` }).join(', ');
                    } else {
                        control.innerHTML = `<a href="/backoffice/${model}/details/${response.id}/">${response[label]}</a>`;
                    }
                }
            }
            xhr.send();
        }

        window.onload = function() {
            {{#references}}
            loadValues('{{model}}','{{{values}}}','{{label}}','label{{model}}value');
            {{/references}}
        }
        {{/hasReferences}}
        </script>
    </head>
    <body>
        <div>
            {{#properties}}
            <div>
                <label>{{name}}:</label>
                <label>{{value}}</label>
            </div>
            {{/properties}}
            {{#references}}
            <div>
                <label>{{model}}:</label>
                <label id="label{{model}}value"></label>
            </div>
            {{/references}}

        </div>
    </body>
</html>