<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> 


    <script>
        function remove(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("{{title}}_" + id).remove();
                }
            };
            xhttp.open("DELETE", "/api/{{title}}/" + id, true);
            xhttp.send();
        }
        function search(input) {
            var filterText = input.value.toUpperCase();
            var table = document.getElementById("table{{title}}");
            var tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var tds = [...tr[i].getElementsByTagName("td")];
                for (const td of tds) {
                    if (td) {
                        var txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filterText) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
</head>
<body>
    {{>menu}}
    <div class="container mt-4 mb-4 bg-white p-4 rounded shadow">
        <h1>{{title}}</h1>
        <hr>
        <div class="mt-4">
            <div class="row">
                <div class="col-sm">
                    <a class="btn" role="button" href="/backoffice/{{title}}/Insert">Insert</a>
                </div>
                <div class="col-md py-2">
                </div>
                <div class="col-md">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                        </div>
                        <input type="text"id="inputSearch" onkeyup="search(this)" class="form-control" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <table id="table{{title}}" class="table table-bordered">
                <thead>
                    <tr>
                        {{#columns}}
                        <th scope="col">{{.}}</th>
                        {{/columns}}
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                    <tr id="{{rowId}}">
                        {{#properties}}
                        <td>
                            {{.}}
                        </td>
                        {{/properties}}
                        <td class="text-center">
                        {{#actions}}
                            <a href="{{link}}" title="{{tooltip}}" class="flex-fill" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
                                {{#image}}
                                <img src="{{src}}" alt="{{alt}}" />
                                {{/image}}
                            </a>
                        {{/actions}}
                        </td>
                    </tr>
                    {{/rows}}
                    {{^rows}}
                    <tr>
                        <td colspan="100%"><label>Table is empty</label></td>
                    </tr>
                    {{/rows}}
                </tbody>
            </table>
        </div>
    <div>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script></body>
</body>
</html>