body {
    background-color: {{{backgroundColor}}};
    background-image: {{{backgroundPattern}}};
    font-family: {{{textFont}}};
    color: {{{textColor}}};
}

h1 {
    font-size: {{{textSize}}};
}

table, th, td {
    border-color: {{{tableBorderColor}}};
}

thead {
    background-color: {{{tableHeaderBackgroundColor}}};
    color: {{{tableHeaderTextColor}}};
}

tbody {
    background-color: {{{tableBodyBackgroundColor}}};
    color: {{{tableBodyTextColor}}};
}

.navbar .navbar-nav .nav-link {
    color: {{{navbarTextColor}}};
}

nav {
    background-color: {{{navbarBackgroundColor}}};
}

.btn {
    background-color: {{{buttonBackground}}};
    color: {{{buttonTextColor}}};
}