body {
    background-color: #ffffff;
    background-image: ;
    font-family: ;
    color: #000;
}

h1 {
    font-size: 2.5rem;
}

table, th, td {
    border-color: #dee2e6;
}

thead {
    background-color: #ffffff;
    color: #212529;
}

tbody {
    background-color: #ffffff;
    color: #212529;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
}

nav {
    background-color: #e3f2fd;
}

.btn {
    background-color: #e232dc;
    color: #0f57ff;
}