body {
    background-color: #212121;
    color: white;
}

#mainPage form {
    display: inline-block;
}

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainPage h1 {
    margin-bottom: 50px;
}

#mainPage button {
    width: 400px;
}

.button-red {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.button-red:hover {
    background-color: tomato;
}

.header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.headerTitle {
    text-align: center;
}

.headerTitle p {
    margin: 0;
}

.backBtn {
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    margin: 10px;
}

.backBtn:hover {
    background-color: #dddddd22;
}

pre {
    color: white;
    flex: 1;
}

.wrapper {
    height: 100%;
}

.created {
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.side {
    overflow: auto;
    height: 100%;
}

/* Override bootstrap */

.btn-dark {
    background-color: #444;
}

.btn-dark:hover,
.btn-dark:focus {
    background-color: #555;
}

.card.bg-dark {
    border: 1px solid #555;
}

.card.bg-dark > .card-body {
    background-color: #333;
}

.card.bg-dark > .card-header {
    background-color: #222;
}

.toast-body {
    background-color: #f44336;
}
