const express = require('express');
const router = express.Router();

const {{title}} = require(__basedir + '/Models/{{title}}.js');
const {{title}}Schema = require(__basedir + '/schemas/Schema-{{title}}.json');
router.post('/{{title}}', function (req, res) {
    let obj = Object.assign(new {{title}}(), req.body);
    obj.save((msg) => {
        if (!msg.success) return res.json(msg);
        {{title}}.getLastId((row) => {
            const jsonRes = JSON.parse(
                JSON.stringify(row, Object.keys(new {{title}}()).concat(['id']))
            )[0];
            for (const ref of {{title}}Schema.references) {
                const col = `${ref.model}_id`.toLowerCase();
                if (ref.relation === 'M-M' && req.body[col].length) {
                    {{title}}.manySave(ref.model, jsonRes.id, req.body[col]);
                }
            }

            res.json(msg);
        });
    });
});

router.get('/{{title}}', function (req, res) {
    {{title}}.all((rows) =>
        res.json(
            JSON.parse(
                JSON.stringify(rows, Object.keys(new {{title}}()).concat(['id']))
            )
        )
    );
});

router.get('/{{title}}/:id', function (req, res) {
    {{title}}.get(req.params.id, (row) =>
        res.json(
            JSON.parse(
                JSON.stringify(row, Object.keys(new {{title}}()).concat(['id']))
            )
        )
    );
});

router.put('/{{title}}/:id', function (req, res) {
    let obj = Object.assign(new {{title}}(), req.body);
    obj.id = req.params.id;
    obj.save((msg) => {
        if (!msg.success) return res.json(msg);
        for (const ref of {{title}}Schema.references) {
            const col = `${ref.model}_id`.toLowerCase();
            if (ref.relation === 'M-M' && req.body[col].length) {
                {{title}}.manySave(ref.model, req.params.id, req.body[col]);
            }
        }
        res.json(msg);
    });
});

router.delete('/{{title}}/:id', function (req, res) {
    {{title}}.delete(req.params.id, (row) => res.json(row));
});

router.get('/{{title}}/:model/:id', function (req, res) {
    {{title}}.many(req.params.model, req.params.id, (rows) =>
        res.json(
            JSON.parse(
                JSON.stringify(rows, Object.keys(new {{title}}()).concat(['id']))
            )
        )
    );
});


module.exports = router;