const express = require('express');
var router = express.Router();

var {{title}} = require('../Models/{{title}}.js');

router.post('/{{title}}', function (req, res) {
    let obj = Object.assign(new {{title}}(), req.body);
    obj.save(row => res.json(row));
});

router.get('/{{title}}', function (req, res) {
    {{title}}.all((rows) =>
        res.json(
            JSON.parse(
                JSON.stringify(rows, Object.keys(new {{title}}()).concat(['id']))
            )
        )
    );
});

router.get('/{{title}}/:id', function (req, res) {
    {{title}}.get(req.params.id, (row) => res.json(row));
});

router.put('/{{title}}/:id', function (req, res) {
    let obj = Object.assign(new {{title}}(), req.body);
    obj.id = req.params.id;
    obj.save((row) => res.json(row));
});

router.delete('/{{title}}/:id', function (req, res) {
    {{title}}.delete(req.params.id, (row) => res.json(row));
});

router.get('/{{title}}/:model/:id', function (req, res) {
 {{title}}.many(req.params.model, req.params.id, rows => res.json(rows));
});


module.exports = router;