<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details {{title}}</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> 

    <script>
    {{#hasReferences}}
    function loadValues(model,values,label,controlId){
        if(values === '') return;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", `/api/${model}/${values}`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var control = document.getElementById(controlId);
                var response = JSON.parse(this.responseText);
                if (response.constructor === Array) {
                    control.innerHTML = response.map(row => { return `<a href="/backoffice/${model}/details/${row.id}/">${row[label]}</a>` }).join(', ');
                } else {
                    control.innerHTML = `<a href="/backoffice/${model}/details/${response.id}/">${response[label]}</a>`;
                }
            }
        }
        xhr.send();
    }

    window.onload = function() {
        {{#references}}
        loadValues('{{model}}','{{{values}}}','{{label}}','label{{model}}value');
        {{/references}}
    }
    {{/hasReferences}}
    </script>
</head>
<body>
    {{>menu}}
    <div class="container mt-4 bg-white p-4 rounded shadow">
        <h1>{{title}} Details</h1>
        <hr>
        <div class="mx-5 border shadow-sm p-5">
            {{#properties}}
            <div>
                <label title={{description}}><strong>{{label}}:</strong></label>
                {{{htmlString}}}
            </div>
            {{/properties}}
            <hr>
            {{#references}}
            <div>
                <label><strong>{{model}}:</strong></label>
                <label id="label{{model}}value"></label>
            </div>
            {{/references}}
        </div>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script></body>
</body>
</html>