const express = require('express');

const app = express();
app.use(express.json());
app.use(express.static('public'));

{{#schemaApis}}
const {{title}}Api = require('./controllers/{{title}}-api');
app.use('/api', {{title}}Api);
{{/schemaApis}}

const server = app.listen({{port}}, () => {
    const host =
        server.address().address === '::'
            ? 'localhost'
            : server.address().address;
    const { port } = server.address();
    console.log('Example app listening at http://%s:%s', host, port);
});
