CREATE TABLE IF NOT EXISTS {{tableName}} (
    id integer PRIMARY KEY AUTOINCREMENT,
    {{#columns}} 
    {{name}} {{type}} {{null}} {{unique}} {{{constraint}}}{{#hasComma}},{{/hasComma}}
    {{/columns}}
);
