const express = require('express');
const router = express.Router();
const {
    presentationModeToHtmlString,
    columnConstraintToHtmlAttrs,
    schemaTypeToInputType,
} = require(__basedir + '/utils/utils.js');

const menuItems = [
    {{#schemas}}
    { name: '{{title}}' },
    {{/schemas}}
];

{{#schemas}}
const {{title}} = require(__basedir + '/Models/{{title}}.js');
const {{title}}Schema = require(__basedir + '/schemas/Schema-{{title}}.json');
{{/schemas}}
async function frontoffice(req, res) {
    res.render('home', {
        schemas: menuItems,
        tables: [
            {{#tables}}
            {
                title: '{{title}}',
                rows: await new Promise((res) => {
                    {{title}}.top('{{orderColumn}}', '{{order}}', {{itemAmount}}, (rows) => {
                        res(fetchRows(rows));
                    });
                }),
                columns: Object.keys(new {{title}}()).map(
                    (col) => {{title}}Schema.properties[col].label
                ),
            },
            {{/tables}}
        ],
    });
}

function fetchRows(rows) {
    return rows.map((obj) => ({
        properties: Object.keys(obj).map((key) => ({
            name: key,
            value: obj[key],
        })),
    }));
}

router.get('/', frontoffice);
router.get('/Home', frontoffice);
module.exports = router;